<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <style>    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}</style>

</head>
<body style="  background-color:#f9f7f7">
<ul style="background-color: #112d4e">
  <li><a class="active" href="/admin">Homepage</a></li>
  <li><a href="/admin/manage">Course Management</a></li>
  <li><a href="/logout">Log out</a></li>
</ul>


<h1 style="
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
margin: auto;
width: 800px; height: 100px;
font-size:500%;
font-family: 'Anton', sans-serif;
">Welcome to CanvasPath!</h1>


</body>
</html>